body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #667;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  overflow-x: hidden !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
/* default font size */
.fa {
  font-size: 16px;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: #3f3f3f;
}
a:hover {
  text-decoration: none;
}
legend {
  font-size: 18px;
  padding: 7px 0px;
}
label {
  font-size: 12px;
  font-weight: normal;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
}
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
  font-size: 12px;
}
.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}
div.required .control-label:before {
  content: "* ";
  color: #f00;
  font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;

  background-repeat: repeat-x;
}
/* top */
#top {
  background-color: #333;
  border-bottom: 0;
  padding: 4px 0px 3px 0;
  margin: 0;
  min-height: 40px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
#top .container {
  padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
  text-align: left;
  color: #000;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;

  background-repeat: repeat-x;
}
#top .btn-link,
#top-links li,
#top-links a {
  color: #fff;
  text-decoration: none;
}
#top .btn-link:hover,
#top-links a:hover {
  color: #3f3f3f;
}
#top-links .dropdown-menu a {
  text-shadow: none;
}
#top-links .dropdown-menu a:hover {
  color: #333;
}
#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}
#top-links {
  padding-top: 6px;
}
#top-links a + a {
  margin-left: 15px;
}
#top-links .dropdown-menu a,
#top #form-language .language-select {
  color: #000;
}
/* logo */
#logo {
  margin: 0 0 10px 0;
}
#logo h1 {
  margin: 0;
}
/* search */
#search,
#cart {
  margin-bottom: 10px;
  padding: 15px 0;
}

#search .input-lg {
  height: 34px;
  line-height: 18px;
  padding: 0 10px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 15px;
  padding: 9px 35px;
  text-shadow: none;
}
/* cart */
#cart {
  margin-bottom: 10px;
}
#cart > .btn {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
#cart.open > .btn {
  background-image: none;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  color: #666;
  box-shadow: none;
  text-shadow: none;
}
#cart.open > .btn:hover {
  color: #444;
}
#cart .dropdown-menu {
  background: #eee;
  z-index: 1001;
}
#cart .dropdown-menu {
  min-width: 100%;
}
@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%;
  }
}
#cart .dropdown-menu table {
  margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px;
}
@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%;
  }
}
#cart .dropdown-menu li p {
  margin: 20px 0;
}
/* menu */
#menu {
  background-image: none;
  background-repeat: initial;

  min-height: 40px;
  margin-bottom: 0;
}
#menu .nav > li > a {
  color: #fff;
  text-shadow: none;
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  background-color: transparent;
  font-size: 16px;
}
#menu .nav > li > a:hover,
#menu .nav > li.open > a {
  background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
  padding-bottom: 0;
}
#menu .dropdown-inner {
  display: table;
}
#menu .dropdown-inner ul {
  display: table-cell;
}
#menu .dropdown-inner a {
  min-width: 240px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 14px;
}
#menu .dropdown-inner li a:hover {
  color: #ffffff;
}
#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #ddd;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}
#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #0aadb9;

  background-repeat: repeat-x;
}
#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
}
#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #fff;
  padding: 2px 18px;
  float: right;
  background-color: #229ac8;

  background-repeat: repeat-x;
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #229ac8;
}
@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }
  #menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }
  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #menu .dropdown-inner {
    display: block;
  }
  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }
  #menu .dropdown-menu a:hover,
  #menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}
/* content */
#content {
  min-height: 600px;
}
/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #333;
  /* border-top: 1px solid #ddd;*/
  color: #fff;
}
footer hr {
  border-top: none;
  border-bottom: 1px solid #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #9cca3b;
}
footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
}
.breadcrumb i {
  font-size: 15px;
}
.breadcrumb > li {
  text-shadow: none;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > li:after {
  content: ">";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  height: 26px;
  color: #333;
}
.breadcrumb li a,
.breadcrumb li {
  color: #333;
}
.pagination {
  margin: 0;
}
/* buttons */
.buttons {
  margin: 1em 0;
}
.btn {
  padding: 7.5px 12px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
}
.btn-xs {
  font-size: 9px;
}
.btn-sm {
  font-size: 10.2px;
}
.btn-lg {
  padding: 7px 16px;
  font-size: 15px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}
.btn-group > .btn-xs {
  font-size: 9px;
}
.btn-group > .btn-sm {
  font-size: 10.2px;
}
.btn-group > .btn-lg {
  font-size: 15px;
}
.btn-default {
  color: #fff;
  text-shadow: none;
  background-color: #3f3f3f;
  background-image: none;
  background-repeat: initial;
  box-shadow: none;
  border: 0;
}
.btn-primary {
  color: #ffffff;
  text-shadow: none;
  background-color: #229ac8;
  background-image: none;
  border: 0;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1f90bb;
  background-position: 0 -15px;
}
.btn-warning {
  color: #ffffff;
  text-shadow: none;
  background-color: #faa732;
  background-image: none;
  border: 0;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  box-shadow: none;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #df5c39;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23a1d1;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  text-shadow: none;
  background-color: #3f3f3f;
  background-image: none;
  background-repeat: initial;
  border-color: #3f3f3f;
  box-shadow: none;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #000;
}
/* list group */
.list-group a {
  border: 1px solid #dddddd;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
  color: #444;
  background: #eeeeee;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 0 #fff;
}
/* carousel */
.carousel-caption {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}
/* product list */
.product-thumb {
  border: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-grid .product-thumb .image {
  float: none;
}
@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  font-weight: bold;
  min-height: 48px;
}
.product-thumb .caption {
  padding: 0 20px;
  min-height: 140px;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #fc0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #e69500;
}
h2.price {
  margin: 0;
}
.product-thumb .price {
  color: #444;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 16px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  /*
   border-top: 1px solid #ddd;
   background-color: #eee;
   */
  overflow: auto;
}
.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 100%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #ffce00;
  font-weight: normal;
  text-align: center;
  border-radius: 20px;
  color: #000 !important;
  padding: 5px;
}
.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
  display: none;
}
.product-thumb .button-group button:hover {
  color: #fff;
  background-color: #b7880b;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 100%;
  }
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails > li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails > img {
  width: 100%;
}
.image-additional a {
  padding: 0;
  display: block;
  border: 0;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n + 1),
  #content .col-lg-3:nth-child(4n + 1),
  #content .col-lg-4:nth-child(3n + 1),
  #content .col-lg-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n + 1),
  #content .col-md-3:nth-child(4n + 1),
  #content .col-md-4:nth-child(3n + 1),
  #content .col-md-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n + 1),
  #content .col-sm-3:nth-child(4n + 1),
  #content .col-sm-4:nth-child(3n + 1),
  #content .col-sm-6:nth-child(2n + 1) {
    clear: left;
  }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^="quantity"] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

body .swiper-viewport {
  margin: 0 0 15px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
body .swiper-pagination {
  bottom: 0px;
  left: 0px;
}
header {
  background: #fff;
}
.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.swiper-pagination.carousel0 {
  display: none;
}
.jumbotron.mp0 {
  margin: 0;
  padding: 0;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}
.dropdown-menu {
  min-width: 240px;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-thumb > .caption > p {
  min-height: 80px;
}
.product-thumb > .caption > p.price {
  min-height: 0;
  font-size: 22px;
  text-align: center;
}
footer .fa {
  font-size: 46px;
}
.thumbnail {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#input-quantity,
#button-cart {
  float: left;
}
#input-quantity {
  width: 40px;
  text-align: center;
}
#button-cart {
  margin-left: 10px;
  width: 200px;
}
#product label {
  float: left;
  padding: 10px 10px 0 0;
}
.rating {
  clear: both;
  width: 290px;
}
.rating p {
  margin-top: 95px;
}
#product-product ul:nth-child(3) li {
  /**  float: left;**/
  margin-right: 30px;
}

#product-product ul:nth-child(4) li {
  clear: both;
}
#product-product h2 {
  padding: 10px 0;
}

.customer-account {
  padding: 0;
  margin: 0;
}

.customer-account i {
  font-size: 36px;
  color: #333;
  line-height: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.customer-account > li {
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  text-align: center;
  list-style-type: none;
  margin-right: 5px;
}
.customer-account > li:hover {
  background-color: #333;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.customer-account > li:hover a {
  color: #ffffff;
}
.customer-account > li:hover i {
  color: #ffffff;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#btn-dropdown-menunav {
  background: none !important;
  border: none;
  line-height: 50px;
  color: #ffce00;
  border-bottom: 3px solid #ffce00;
  font-weight: bold;
}

#btn-dropdown-menunav:hover {
  background: none !important;
}

#dropdown-menu-nivel-2 {
  background: #ffce00;
  top: 53px;
  border: none;
  -webkit-box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  min-height: 500px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  border-radius: 0;
}

#dropdown-menu-nivel-2 a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

#dropdown-menu-nivel-2 a:hover {
  background-color: #000;
  color: white;
}

#dropdown-menu-nivel-3 {
  background: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  box-shadow: -4px 3px 22px -10px rgba(0, 0, 0, 0.61);
  min-height: 500px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  max-width: 900px;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  margin-top: 5px;
  margin-right: -10px;
}

.no-dropdown {
  width: 100%;
  margin-left: 20%;
  background: none !important;
  border: none;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.no-dropdown:hover {
  color: white;
  text-decoration: underline !important;
}

.thumbnail a > img,
.thumbnail > img {
  display: none !important;
  max-width: 100%;
  height: auto;
}

#slideshow0 * img {
  margin: auto;
}
